/* ---------------------------------------- IMPORTS FONTS FROM GOOGLE FONTS ---------------------------------------- */ 
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); // 'Courgette', cursive
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); // 'Bebas Neue', cursive
/* ----------------------------------------------------------------------------------------------------------------- */

$primary-font: 'Courgette', cursive;
$secundary-font: 'Bebas Neue', cursive;
$desc-font: Arial, Helvetica, sans-serif;
