* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width:100vw;
    min-height:100vh;
    background-image:$color-secundary-bk;
}
a {
    text-decoration: none;
    color: $color-primary-text;
}