#img-detail {
    width:95%;
    min-height: 73%;
    align-self: center;
    display: grid;
    grid-template-areas: 
        "a a a a a a a"
        "b b b b b b b"
        "b b b b b b b"
        "b b b b b b b"
        "b b b b b b b"
        "b b b b b b b"
        "b b b b b b b"
        "b b b b b b b"
        "c c c c c c c"
        "c c c c c c c"
        "c c c c c c c"
    ;
    background:rgba(30, 30, 30, 0.95);
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    z-index:1000;
}
#img-detail #close {
    grid-area: a;
    justify-self: end;
    width: 25px;
    height: 25px;
    margin: 4% 4% 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#img-detail #img {
    grid-area: b;
    justify-self: center;
    width: 95%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#img-detail #img img {
    max-width: 100%;
    max-height: 325px;
    border-radius: 2px;
    border: 1px solid #2FB485;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}
#img-detail #img-describe {
    grid-area: c;
    width: 95%;
    max-height: 125px;
    margin: 5% 0 6% 0;
    padding: 3px;
    overflow-y: auto;
    justify-self: center;
}
#img-detail #img-describe p {
    padding-right: 3px;
    overflow-y: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.82em;
    text-align: justify;
    color: #E6F2EE;
}
#img-detail #img-describe p::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1.5px;
    background-color: rgba(255, 255, 255, 0.1);
}

#img-detail #img-describe p::-webkit-scrollbar {
    width: 3px;
    background-color: rgba(255, 255, 255, 0.1);
}

#img-detail #img-describe p::-webkit-scrollbar-thumb {
    border-radius: 1.5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #2FB485;
}
@media (min-width: 20.5em) {
    #img-detail #close {
        width: 30px;
        height: 30px;
        margin: 5% 5% 0 0;
    }
    #img-detail #img  {
        width: 95%;
    }
    #img-detail #img-describe {
        max-height: 150px;
    }
}
@media (min-height: 50.7em) {  
    #img-detail #img-describe {
        max-height: 200px;
    }
    #img-detail #img-describe p {
        font-size: 0.945em;
    }
}